.loaderContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f4f2f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  position: fixed;
  z-index: 999999999999999999999999999999;
  transition: all .3s ease-in-out;
  user-select: none;
}
.loaderContainer h1 {
  color: #c2bfbc;
  font-size: 12rem;
  /* font-family: sans-serif; */
  opacity: .6;
}
.imgCard {
  height: 250px;
  width: 200px;
  border-radius: 20px;
  /* background-color: red; */
  position: absolute;
}
.loadingbar {
  height: 12px;
  width: 150px;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
  rotate: -6deg;
  position: relative;
  right: -16%;
  top: -5%;
}
.loadingFill {
  height: 100%;
  width: 0%;
  background-color: red;
  transition: 0.3s all ease-in-out;
}
.wrapper {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.imglist {
  position: relative;
  top: -11%;
  height: 250px;
  width: 200px;
}
.imgCard {
  overflow: hidden;
  display: none;
}
.imgCard img {
  height: 100%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}