/* .mobileViewProductSection {
  scrollbar-width: none;
} */
.mobileProductionSectionCards {
  background-position: center;
  background-size: cover;
}

.ContainerX {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: 5rem;
}
.ProductContainer {
  max-width: 100vw;
  background-color: #f4f2f0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 15rem;
  flex-wrap: wrap;
  overflow-wrap: normal;
  /* max-height: 200vw; */
  min-height:100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  gap: 2rem;
}
.product {
  flex-shrink: 0;
  width: 15vw;
  height: 23rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2); /* orrin */
}
.product:hover {
  scale: 1.1;
  transition: all 0.3s linear;
}
/* .product:hover ~ .product {
  opacity: 0.8;
  transition: all 0.3s linear;
}
/* orrin */
/*
.product:has(~ .product:hover) {
  opacity: 0.8;
  transition: all 0.3s linear;
} */
.produced {
  position: fixed;
  z-index: 9999999;
  opacity: 0;
  top: 0px;
}
.pointerevent {
  pointer-events: none;
}
.closebtn {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 3%;
  right: -2%;
  margin-right: 2rem;
  z-index: 999999999999999999999999999999;
  /* background-color: black; */
  opacity: 0;
  border-radius: 100px;

  pointer-events: none; /*orrin*/
}

.boom {
  opacity: 0;
  background-color: transparent;
  position: fixed;
  pointer-events: none;
}

@media (max-width: 1450px) {
  .ContainerX {
    height: 200vh;
  }
  .ContainerX .product {
    width: 20vw;
  }
}